.cover__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url(../../../images/__background.png);
  background-size: cover;
  opacity: 70%;
  z-index: 1;
  text-decoration: none;
  color: white;

}

.cover__link::before {
  background-image: url(../../../images/__overlay.png);
}
