.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  height: 52px;
  margin: 48px auto 56px;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100% - 48px);


  }
}

