.footer__links {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;


}

@media screen and  (max-width: 767px){
  .footer__links {
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 48px;
    min-height: calc(310px - 14px - 48px);
  }
}
