.place__paragraph {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  text-align: left;
  margin-bottom: 26px;
}

.place__paragraph:last-child {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
    margin-bottom: 26px;

}
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    font-size: 16px;

}
}
