.intro__text {
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  margin: 40px auto 33px 148px;
  height: 208px;
  max-width: 690px;
}
