.place__link {
  margin: 0;
  color: white;
  margin-top: 12px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: left;

}

.place__link:hover {
  transition: opacity 0.2s ease;
  opacity: 0.8;
  text-decoration: none;
}
