.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows:  1fr;
  grid-gap: 48px 40px;
  margin: 0;
  margin-bottom: 80px;
  margin-right: 0;
}

.place:last-child {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px 1fr;
    grid-gap: 48px 32px;

}
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px 1fr;
    grid-gap: 48px 28px;

}
}
